@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 2;
}

body {
  height: 100vh;
  width: 100vw;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: hsl(200, 60%, 40%);
  background: url("marita-kavelashvili-ugnrXk1129g-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

/* .container::before {
  content: "";
  position: absolute;
  inset: 0;
  backdrop-filter: blur(1px);
  background: rgba(255, 255, 255, 0.2);
  z-index: 1;
} */

.clock-container {
  height: 75%;
  aspect-ratio: 1.5;
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}

.clock-body {
  height: 100%;
  position: relative;
  aspect-ratio: 1;
  border-radius: 50%;
  outline: 10px solid white;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.timer,
.session {
  font-size: 5rem;
  font-family: "poppins";
  color: white;
  font-weight: bold;
}

.session {
  font-size: 3rem;
}
.buttons {
  display: flex;
  gap: 2rem;

  div {
    transition: 300ms;
  }

  div:hover {
    cursor: pointer;
    scale: 1.1;
  }

  img.hidden {
    display: none;
  }
}
